<div class="chapter-test">
      <button class="close-button" (click)="closeTest()">✖</button>

  @if(currentIndex<exerciseOrder.length)
  {
    <!--voi pune next dupa ultimul exercitiu pentru mesaj daca ai trecut testul sau nu-->
    <button class="nav-arrow right" (click)="next()">›</button>
  }

  <div class="content">
    @if(currentIndex==exerciseOrder.length)
    {
        @if(accuracy>80)
        {
            <p>Feliciări ai reușit să treci la următorul capitol</p>
        }
        @else{
            <p>Încearcă să parcurgi teoria mai întâi...</p>
        }
    }
    @else{

     @if(content.variante?.length==0 )
      {
      <app-write-answer-exercise [needScore]="content.need_w_score"></app-write-answer-exercise>
      }
      @else if(content.variante!=undefined) {
      <app-choose-answer-exercise [options]="content!.variante" [questionText]="content.text" [score]="content.note?.note"
        [duration]="content.note?.duration" [htmlcontent]="content.html_content" [userLevel]="'Avansat'"
        (chosenAnswer)="handleChosenAnswer($event)"></app-choose-answer-exercise>
      }
    }
  </div>
</div>
