.all {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all:hover
{
    background-color:rgba(139, 111, 79, 0.2) ;
}
.subchapter-name {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .status-indicator {
    display: flex;
    align-items: center;
  
    input[type='checkbox'] {
      width: 18px;
      height: 18px;
      cursor: default;
    }
  
    .not-started {
      width: 18px;
      height: 18px;
      background-color: red;
      border-radius: 3px;
    }
  }
  